body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 50px; /* Adatta la larghezza del logo come desiderato */
    margin-right: 10px;
}

.logo-container h1 {
    margin: 0;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #333; /* Colore di sfondo grigio */
    color: white; /* Colore del testo bianco */
    text-align: center; /* Allineamento del testo al centro */
    padding: 20px 0; /* Spaziatura interna al footer */
    position: fixed; /* Posizione fissa */
    bottom: 0; /* Fisso in fondo alla pagina */
    width: 100%; /* Larghezza pari alla larghezza della pagina */
    font-weight: bold; /* Testo in grassetto */
}

